.vapor {
  background-color: #ff819c;
  background-image: url('./vapor-line.png');
  background-position: top;
  background-repeat: repeat-x;
  color: #6bfeb8;
  text-shadow: 1px 1px 2px black;
}

.vapor > .container {
  background-image: url('./vapor-bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
}

.contacts {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: left;
}

.contacts__heading {
  margin: 0;
  font-size: 50px;
}

.contacts__phone {
  display: inline-block;
  margin: -4px -10px;
  padding: 4px 10px;
  background-color: #c3c7cb;
  font-weight: 500;
  text-shadow: none;
  color: black;
}

.contacts .list {
  margin-top: 20px;
}

.contacts .list__item {
  line-height: 44px;
}

.contacts__link {
  color: inherit;
  text-decoration: none
}

.contacts__link:hover,
.contacts__link:active {
  color: white;
}

@media (min-width: 940px) {
  .contacts {
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 0;
  }

  .vapor__statue {
    position: absolute;
    bottom: 40px;
    left: 80px;
  }
}
