.telegram {
  background-color: #dfe4e8;
  text-align: center;
}

.telegram__heading {
  margin: 20px 0;
  font-weight: 500;
  text-align: center;
  color: gray;
}

.telegram__link {
  display: inline-block;
  vertical-align: top;
  outline: none;
  margin: 20px;
  padding-bottom: 40px;
  color: black;
}

.telegram__link:hover,
.telegram__link:active {
  color: gray;
}

.figure {
  position: relative;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 0;
}

.figure__caption {
  position: absolute;
  top: 100%;
  width: calc(100% - 20px);
  line-height: 40px;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
