body {
  position: relative;
  margin: 0;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  min-height: 500px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;
  box-sizing: border-box;
}

.part {
  position: relative;
}

.part:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: inset 0 4px 8px rgba(0,0,0,.1);
  pointer-events: none;
}

@media (min-width: 940px) {
  .container {
    width: 800px;
  }
}
