.javascript {
  background-color: #f0da50;
  color: #323330;
}

.welcome__header {
  position: relative;
  z-index: 1;
  margin: 0 20px;
}

.welcome__intro {
  display: inline-block;
  position: relative;
  margin: 40px 0;
  padding: 8px 40px;
  background-color: white;
  font-size: 20px;
  color: gray;
  cursor: pointer;
  user-select: none;
  text-align: left;
}

.welcome__intro:before {
  content: '—';
  position: absolute;
  top: 0;
  right: 100%;
  margin-top: 8px;
  margin-right: -40px;
  padding-right: 4px;
}

.welcome__title ,
.welcome__subtitle {
  margin: 0;
  font-weight: 500;
}

.welcome__title {
  font-size: 50px;
}

.welcome__subtitle {
  font-size: 30px;
}

.welcome__photo {
  display: block;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.welcome__hint {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50;
  transform: translateX(-50%);
  line-height: 21px;
  padding: 0 8px;
  background-color: #1a1a1a;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  color: white;
}

.cv-link {
  line-height: 24px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: blue;
}

.cv-link:hover,
.cv-link:active {
  text-decoration: underline;
}

.cv-link__icon {
  vertical-align: middle;
  margin-right: 8px;
}

@media (min-width: 940px) {
  .welcome__header {
    position: absolute;
    z-index: 1;
    top: 200px;
    right: 0;
    text-align: left;
  }

  .welcome__intro {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin: 20px -40px;
  }

  .welcome__photo,
  .welcome__hint {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .welcome__photo {
    margin-top: 0;
    margin-left: -80px;
  }

  .welcome__hint {
    transform: none;
  }

  .cv-link {
    float: right;
  }
}
