.javascript {
  background-color: #f0da50;
  color: #323330;
}

.welcome__header {
  position: relative;
  z-index: 1;
  margin: 0 20px;
}

.welcome__intro {
  display: inline-block;
  position: relative;
  margin: 40px 0;
  padding: 8px 40px;
  background-color: white;
  font-size: 20px;
  color: gray;
  cursor: pointer;
  user-select: none;
}

.welcome__intro:before {
  content: '—';
  position: absolute;
  top: 0;
  right: 100%;
  margin-top: 8px;
  margin-right: -40px;
  padding-right: 4px;
}

.welcome__title ,
.welcome__subtitle {
  margin: 0;
  font-weight: 500;
}

.welcome__title {
  font-size: 50px;
}

.welcome__subtitle {
  font-size: 30px;
}

.welcome__photo {
  display: block;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: -100px;
}

.welcome__hint {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: 400px;
  line-height: 24px;
  margin-left: -200px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: white;
}

@media (min-width: 940px) {
  .welcome__header {
    position: absolute;
    z-index: 1;
    top: 200px;
    right: 0;
  }

  .welcome__intro {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin: 20px -40px;
  }

  .welcome__photo,
  .welcome__hint {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .welcome__photo {
    margin-top: 0;
    margin-left: -80px;
  }

  .welcome__hint {
    margin-left: 0;
  }
}
